.tratamento{
    position: relative;
    top: 650px;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 150px;
    }

    ul li {
        position: relative;
        }


        li ul {
            position: absolute;
            left: 149px;
            top: 0;
            display: none;
            }

            ul li a {
                display: block;
                text-decoration: none;
                color: #E2144A;
                background: #fff;
                padding: 5px;
                border: 1px solid #ccc; 
             }

             /* Fix IE. Hide from IE Mac \*/
* html ul li { float: left; }
* html ul li a { height: 1%; }
/* End */


li:hover ul { display: block; }


ul li a:hover{
    text-decoration:underline;
    font-weight: bold;
    background: #ccc; }


article{
    position: absolute;
    left: 250px;
    top: -250px;

}

.pedido{
    position: relative;
    left: 250px;
    top: 0px;
}

.table table,th,td{ 
   
    border: 1px solid white;
}

.table table {
    width: 100%;
    border-collapse: collapse;
  }

.table th{
    height: 50px;
    text-align: left;
}

.table td {
    height: 50px;
    vertical-align: bottom;
  }

.table th, td {
    padding: 15px;
    
    text-align: left;

    border-bottom: 1px solid #ddd;
  }

.table  tr:hover {background-color: #f5f5f5;}

.table tr:nth-child(even) {background-color: #f2f2f2;}

.table th {
    background-color: black;
    color: white;
  }